body
{
	background-color: #CEECF5;
	/*
	background-image: url(logo_MR.png);
	background-repeat: no-repeat;
	*/
	background-image: 
		url(logo_MR.png),
		url(fondo_texturado.jpg);		
	background-repeat: 
		no-repeat,
		repeat-y;
	background-size: 
		30%,
		20%;
	background-position: 
		center,
		right;

}


.space
{
	height: 150px;
}

