.prueba
{

height: 100PX;	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+-1,b4ddb4+0,b4ddb4+9,b4ddb4+12,b4ddb4+23,52b152+33,008a00+67,005700+83,002400+100&1+12,0.36+78 */
background: -moz-linear-gradient(top,  rgba(180,221,180,1) -1%, rgba(180,221,180,1) 0%, rgba(180,221,180,1) 9%, rgba(180,221,180,1) 12%, rgba(180,221,180,0.89) 23%, rgba(82,177,82,0.79) 33%, rgba(0,138,0,0.47) 67%, rgba(0,103,0,0.36) 78%, rgba(0,87,0,0.36) 83%, rgba(0,36,0,0.36) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(180,221,180,1) -1%,rgba(180,221,180,1) 0%,rgba(180,221,180,1) 9%,rgba(180,221,180,1) 12%,rgba(180,221,180,0.89) 23%,rgba(82,177,82,0.79) 33%,rgba(0,138,0,0.47) 67%,rgba(0,103,0,0.36) 78%,rgba(0,87,0,0.36) 83%,rgba(0,36,0,0.36) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(180,221,180,1) -1%,rgba(180,221,180,1) 0%,rgba(180,221,180,1) 9%,rgba(180,221,180,1) 12%,rgba(180,221,180,0.89) 23%,rgba(82,177,82,0.79) 33%,rgba(0,138,0,0.47) 67%,rgba(0,103,0,0.36) 78%,rgba(0,87,0,0.36) 83%,rgba(0,36,0,0.36) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#5c002400',GradientType=0 ); /* IE6-9 */

}

body
{

height: 1200px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100&1+0,0.27+50 */
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,0.27) 50%, rgba(32,124,202,0.27) 51%, rgba(125,185,232,0.27) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.27) 50%,rgba(32,124,202,0.27) 51%,rgba(125,185,232,0.27) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,0.27) 50%,rgba(32,124,202,0.27) 51%,rgba(125,185,232,0.27) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#457db9e8',GradientType=0 ); /* IE6-9 */

}