
body
{
	font-family: Arial, Helvetica, sans-serif;

}


.prueba
{
	font-weight: bolder;
	font-size: 32px;
}


.prueba2
{	
	font-style: italic;
	/*font-variant: small-caps;*/ /*PASA TODO A MAYUSCULAS*/

}


.prueba3
{
	font-style: oblique;
}