#contenido
{
	background-color: #58ACFA;
	height: 100px;
	width: 600px;
	margin: 0.5% auto;
	
	border: solid;
	border-width: 1px;
	border-color: green;
}


nav ul li
{
	float: left;
	margin: 10px;
	display: block;
	border: solid;
	border-color: red;
	border-spacing: 20px;


}