
#contenido
{
	width: 800px;
	height: 700px;
	margin: auto;
	background-color: #58FA82;

}



.prueba
{
	background-color: #4B088A;
	height: 100px;
	width: 300px;
	/* margin: auto; */  /*Si quisiera centrar el objeto*/

	/* position: absolute; */  /* LA posisición va a ser absoluta respecto al margen del body*/
	/* position: relative; */  /* La posicion va a ser relativa al borde que la contiene (acá #contenido)*/
	/*
	top: 200px;
	left: 40%; 
	*/
	position: fixed; /* El objeto se queda estatico en la psicion que le definimos inclusive se sigue mostrando al bajar el scroll, como para hacer menu de navegacion*/
	top: -10px;
	left: -5%; 
	
}

