
ul li::before
{
	content: url(icon.png);
	width: 20px;
	height: 20px;
}


ul li 
{
	list-style-type: none;
	font-size: 50px;
	font-weight: bold;
	color: #0174DF;
}



ul li::after
{
	content: url(icon2.png);
}




#primerP::first-line
{
	color: red;
	
}


p::first-letter
{
	font-weight: bold;
	font-size: 36px;
	color: #000;
	/*text-decoration: underline;
	*/
}

