<h1>Hola Mundo</h1>
<p>Yo soy contenido de prueba para ver que pasa con AJAX include</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam aperiam provident temporibus, nihil dolores architecto, numquam, deserunt enim facilis maiores reiciendis neque necessitatibus nobis error a officia veniam blanditiis repellendus!</p>